$c-white: #ffffff;
$c-grey: #212121;
$c-dark-grey-1: #121212;
$c-dark-grey-2: #1e1e1e;
$c-dark-grey-3: #333333;

$c-accent-blue: #bb86fc;
$c-error-red: #cf6679;

$c-bg-main: $c-dark-grey-1;
$c-bg-placeholder: $c-dark-grey-2;
$c-input-border: rgba($c-white, 0.3);
$c-font-placeholder: rgba($c-white, 0.5);
$c-table-border: rgba($c-white, 0.2);
$c-font-main: $c-white;
$c-font-secondary: rgba($c-white, 0.7);
$c-icon-main: rgba($c-white, 0.5);
